body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #286090;
}

p {
    font-size: 16px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #474e5d;
}

a:active {
    text-decoration: none;
    color: #286090;
}

table {
    color: black;
    text-shadow: 2px 2px 1px gray;
}

h2 {
    text-align: center;
    color: black;
}

input {
    color: black;
}

#wynik {
    font-weight: bold;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #286090;
    /* Blue */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}




.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.parallax {
    /* The image used */
    background-image: url("regal.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.table {
    background-color: rgba(153, 204, 255, 0.5);
}

.table-hover>tbody>tr:hover {
    background-color: rgba(153, 204, 255, 0.9);
}

#liczba {
    color: black;
}

.col-sm-4>p {
    letter-spacing: 3px;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    color: black;
    height: 400px;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}